#### Q1

In [88]:
text="The goal is to turn data into information, and information into insight."

In [89]:
text=text.replace(" ",",")

In [90]:
text=text.replace(".","")
text=text.split(",")

In [91]:
text

['The',
 'goal',
 'is',
 'to',
 'turn',
 'data',
 'into',
 'information',
 '',
 'and',
 'information',
 'into',
 'insight']

In [92]:
for i in range(len(text)):
    text[i]=text[i].upper()

In [93]:
text

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 '',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

#### Q2

In [94]:
lst=["D","A","T","A","S","C","I","E","N","C","E"]

In [95]:
len(lst)

11

In [96]:
lst[0],lst[10]

('D', 'E')

In [97]:
lst2=lst[0:4]
lst2

['D', 'A', 'T', 'A']

In [98]:
lst.pop(8)

'N'

In [99]:
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [100]:
lst.append("N")

In [101]:
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'N']

In [102]:
lst.insert(8,"N")

In [103]:
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'N']

#### Q3

In [104]:
Dic=dict={"Christian":["America",18],
     "Daisy":["England",12],
     "Antonio":["Spain",22],
     "Dante":["Italy",25]}

In [105]:
Dic.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [106]:
Dic.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [110]:
up={"Daisy":["England",13]}
Dic.update(up)

In [111]:
Dic

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [117]:
Dic["Ahmet"]=["Turkey",24]

In [118]:
Dic

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [124]:
Dic.pop("Antonio")

[]

In [125]:
Dic

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

#### Q4

In [126]:
def q4(liste):
    even_list=[]
    odd_list=[]
    for i in liste:
        if i%2==0:
            even_list.append(i)
        else:
            odd_list.append(i)
    return even_list,odd_list

In [127]:
lst=[1,2,3,4,5,6,7,8,9,10]
print(q4(lst))

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

#### Q5

In [130]:
import seaborn as sns
df=sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total           51 non-null     float64
 1   speeding        51 non-null     float64
 2   alcohol         51 non-null     float64
 3   not_distracted  51 non-null     float64
 4   no_previous     51 non-null     float64
 5   ins_premium     51 non-null     float64
 6   ins_losses      51 non-null     float64
 7   abbrev          51 non-null     object
dtypes: float64(7), object(1)
memory usage: 3.3+ KB

In [135]:
a=df.columns

In [155]:
a=[("NUM_"+i).upper() if df[i].dtypes=="float64"  else i.upper() for i in a]

In [156]:
a

['NUM_TOTAL',
 'NUM_SPEEDING',
 'NUM_ALCOHOL',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM',
 'NUM_INS_LOSSES',
 'ABBREV']

#### Q6

In [162]:
b=df.columns
b=[ (i+"_flag").upper() if not "no" in i else i.upper() for i in b]

In [163]:
b

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

#### Q7

In [173]:
new_df=df.drop(["abbrev","no_previous"],axis=1)

In [174]:
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63